<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr0mfdGnEm2h1kyyad_Ro6WuBFjO3Rh5g</string>
	<key>GCM_SENDER_ID</key>
	<string>538027524491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.locamp.portail</string>
	<key>PROJECT_ID</key>
	<string>locamp-portail</string>
	<key>STORAGE_BUCKET</key>
	<string>locamp-portail.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538027524491:ios:830ea1316e1ad892f6af8e</string>
</dict>
</plist>